{% extends 'base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'project_list' %}">Projects</a></li>
        {% if 'edit' in request.path %}
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        {% elif 'create' in request.path %}
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        {% endif %}
    </ol>
{% endblock %}

{% block content %}

<section class="section-project-form">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">

                <form action="" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                        <div class="col-md-2">
                            {{field.label}}
                        </div>
                        <div class="col-md-10">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success float-right">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}