{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<section class="section-post-content hide-on-med-and-down">
    <div class="row">
        <div class="col m12">
            <h3 class="white-text" id="post-content-title">{{ posts.0.name }}</h3>
            <p id="post-content-body" class="white-text">{{ posts.0.body|linebreaks }}</p>
        </div>
    </div>
</section>

<section class="section-post-list">
    <div class="row">
        <div class="col s12 hide-on-med-and-down">
            <ul class="collection ">
                {% for post in posts %}
                <li class="collection-item">
                    <a href="#" onclick="getPostContent({{ post.id }})" class="white-text">{{ post.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row hide-on-large-only">
        <div class="col s12">
            <ul class="collection ">
                {% for post in posts %}
                <li class="collection-item">
                    <a onclick="getPostModalContent({{ post.id }})" class="white-text modal-trigger" href="#post-content-modal">{{ post.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if posts.has_other_pages %}
    <div class="row pagination-bottom">
        <div class="col s12 center">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
                {% else %}
                    <li><a class="disabled grey-text text-darken-1"><i class="fas fa-chevron-left"></i></a></li>
                {% endif %}
                {% for i in posts.paginator.page_range%}
                    {% if posts.number == i %}
                        <li class="active"><a>{{i}}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
                {% else %}
                    <li><a class="disabled grey-text text-darken-1"><i class="fas fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</section>

<!-- POST CONTENT MODAL -->
<div id="post-content-modal" class="modal modal-fixed-footer grey darken-4">
    <div class="modal-content">
        <h4 id="post-modal-title" class="truncate white-text"></h4>
        <p id="post-modal-body" class="white-text"></p>
    </div>
    <div class="modal-footer grey darken-4">
        <a href="#!" class="modal-close white-text"> <i class="fas fa-times fa-3x"></i> </a>
    </div>
</div>

{% endblock %}