<div class="row account-nav-buttons">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a href="{% url 'account_edit' %}" class="nav-link {% if request.path == '/accounts/' %}active{% endif %}">Me</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'experience_list' %}" class="nav-link {% if request.path == '/accounts/experience' %}active{% endif %}">Experience</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'education_list' %}" class="nav-link {% if request.path == '/accounts/education' %}active{% endif %}">Education</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'skill_list' %}" class="nav-link {% if 'skill' in request.path %}active{% endif %}">Skills</a>
            </li>
        </ul>
    </div>
</div>