{% load static %}

{% if 'about' in request.path %}

<footer class="center footer-about hide-on-med-and-down">
    <div class="row">
        <div class="col s12">
            <img src="{% static 'img/lucas_wolfe.jpg' %}" class="responsive-img" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col m12 center">
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/lucaswolfe/" target="_blank"><i class="fab fa-linkedin fa-3x white-text"></i></a></li>
                <li><a href="https://github.com/luxaflow" target="_blank"><i class="fab fa-github fa-3x white-text"></i></a></li>
                <li><a href="https://stackoverflow.com/users/8935364/lucas-wolfe" target="_blank"><i class="fab fa-stack-overflow fa-3x white-text"></i></a></li>
            </ul>
            <div class="container">
                <ul class="about-links">
                    <li class="divider black"></li>
                    <li>
                        <a href="{% url 'about' data_type='me' %}" class="white-text">ME</a>
                    </li>
                    <li>
                        <a href="{% url 'about' data_type='experience' %}" class="white-text">EXPERIENCE</a>
                    </li>
                    <li>
                        <a href="{% url 'about' data_type='education' %}" class="white-text">EDUCATION</i></a>
                    </li>
                    <li>
                        <a href="{% url 'about' data_type='skill' %}" class="white-text">SKILL</i></a>
                    </li>
                </ul>
            </div>
            <a href="" class="btn btn-large grey darken-4 grey-text text-lighten-1 hide-on-med-and-down">Contact</a>
        </div>
    </div>
</footer>

{% else %}

<footer class="center footer {% if not '/' == request.path %} hide-on-med-and-down {% endif %}">
    <div class="row">
        <div class="col s12">
            <img src="{% static 'img/lucas_wolfe.jpg' %}" class="responsive-img" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col m12 center">
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/in/lucaswolfe/" target="_blank"><i class="fab fa-linkedin fa-3x white-text"></i></a></li>
                <li><a href="https://github.com/luxaflow" target="_blank"><i class="fab fa-github fa-3x white-text"></i></a></li>
                <li><a href="https://stackoverflow.com/users/8935364/lucas-wolfe" target="_blank"><i class="fab fa-stack-overflow fa-3x white-text"></i></a></li>
            </ul>
            <a href="#" class="btn btn-large grey darken-4 grey-text text-lighten-1 hide">Contact</a>
        </div>
    </div>
</footer>

{% endif %}