<nav id="top-navbar" class="z-depth-0">
    <div class="row center ">
        <div class="col s3 nav-item ">
            <a href="{% url 'index' %}">
                <span>Home</span>
            </a>
        </div>
        <div class="col s3 nav-item">
            <a href="{% url 'about' data_type='me' %}">
                <span class="white-text">About</span>
            </a>
        </div>
        <div class="col s3 nav-item">
            <a href="{% url 'post_list' %}">
                <span class="white-text">Stories</span>
            </a>
        </div>
        <div class="col s3 nav-item">
            <a href="{% url 'project_list' %}">
                <span class="white-text">Projects</span>
            </a>
        </div>
    </div>
</nav>