{% extends 'base.html' %}

{% block content %}

{% include 'partials/_account_edit_nav.html' %}
<section class="section-account-list">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                {% if 'experience' in request.path %}
                {{ item.name }}
                <a href="{% url 'experience_create' user_id=request.user.id %}" class="btn btn-success btn-add float-right">Add Experience</a>
                {% elif 'education' in request.path %}
                {{ item.name }}
                <a href="{% url 'education_create' user_id=request.user.id %}" class="btn btn-success btn-add float-right">Add Education</a>
                {% elif 'skill' in request.path %}
                {{ item.name }}
                <a href="{% url 'skill_create' user_id=request.user.id %}" class="btn btn-success btn-add float-right">Add Skill</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    {% for item in list_group %}
                    <li class="list-group-item">
                        {% if 'experience' in request.path %}
                            {{ item.name }}
                            <div class="float-right">    
                                <a href="{% url 'experience_edit' user_id=request.user.id experience_id=item.id %}" class="btn-sm btn-success">Edit</a>
                                <a href="#" class="btn-sm btn-danger" data-toggle="modal" data-target="#item-{{ item.id }}">Delete</a>
                            </div>
                        {% elif 'education' in request.path %}
                            {{ item.name }}
                            <div class="float-right">
                                <a href="{% url 'education_edit' user_id=request.user.id education_id=item.id %}" class="btn-sm btn-success">Edit</a>
                                <a href="#" class="btn-sm btn-danger" data-toggle="modal" data-target="#item-{{ item.id }}">Delete</a>
                            </div>
                        {% elif 'skill' in request.path %}
                            {{ item.name }}
                            <div class="float-right">
                                <a href="{% url 'skill_edit' user_id=request.user.id skill_id=item.id %}" class="btn-sm btn-success">Edit</a>
                                <a href="#" class="btn-sm btn-danger" data-toggle="modal" data-target="#item-{{ item.id }}">Delete</a>
                            </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% for item in list_group %}
<div class="modal fade" id="item-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {% if 'experience' in request.path %}
                {{ item.company }}
                {% elif 'education' in request.path %}
                {{ item.school }}
                {% elif 'skill' in request.path %}
                {{ item.name }}
                {% endif %}
                ?
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" data-dismiss="modal">No</a>
                <a href="{% if 'experience' in request.path %}
                    {% url 'experience_delete' user_id=request.user.id experience_id=item.id %}
                {% elif 'education' in request.path %}
                    {% url 'education_delete' user_id=request.user.id education_id=item.id %}
                {% elif 'skill' in request.path %}
                    {% url 'skill_delete' user_id=request.user.id skill_id=item.id %}
                {% endif %}" class="btn btn-secondary">Yes</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}