{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    {% if request.path == '/accounts/' %}
        <li class="breadcrumb-item active" aria-current="page">Account</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'account_edit' %}">Account</a></li>
    {% endif %}
    {% if 'experience' in request.path %}
        {% if 'edit' in request.path %}
            <li class="breadcrumb-item"><a href="{% url 'experience_list' %}">Experience</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ experience.name }}</li>
        {% elif 'create' in request.path %}
            <li class="breadcrumb-item"><a href="{% url 'experience_list' %}">Experience</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Experience</li>
        {% endif %}
    {% elif 'education' in request.path %}
        {% if 'edit' in request.path %}
            <li class="breadcrumb-item"><a href="{% url 'education_list' %}">Education</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ education.name }}</li>
        {% elif 'create' in request.path %}
            <li class="breadcrumb-item"><a href="{% url 'education_list' %}">Education</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Education</li>
        {% endif %}
    {% elif 'skill' in request.path %}
        {% if 'edit' in request.path %}
            <li class="breadcrumb-item"><a href="{% url 'skill_list' %}">Skill</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ skill.name }}</li>
        {% elif 'create' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'skill_list' %}">Skill</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Skill</li>
        {% endif %}
    {% endif %}
</ol>
{% endblock %}

{% block content %}

{% if not 'edit' in request.path and not 'create' in request.path %}
    {% include 'partials/_account_edit_nav.html' %}
{% endif %}

<section class="section-profile-edit">
    <div class="jumbotron">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <div class="col-md-2">
                    {{field.label}}
                </div>
                <div class="col-md-10">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success float-right">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock  %}