{% extends 'base.html' %}

{% block content %}
{% if 'me' in request.path or 'skill' in request.path %}
    <section class="section-about-large ">
        {% if 'me' in request.path %}
        <div class="row" id="about-me">
            <div class="col m12">
                <p class="white-text">{{ profile.about }}</p>
            </div>
        </div>
        {% elif 'skill in request.path' %}
        <div class="row hide-on-med-and-down">
            <div class="col s3">
                <table class="striped">
                    <tr>
                        <th>Soft Skills:</th>
                    </tr>
                    {% for item in soft_skill %}
                    <tr>
                        <td>{{ item.name }}
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col s3">
                <table class="striped">
                    <tr>
                        <th>Languages:</th>
                    </tr>
                    {% for item in language %}
                    <tr>
                        <td>{{ item.name }}
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col s3">
                <table class="striped">
                    <tr>
                        <th>Frameworks & Libaries:</th>
                    </tr>
                    {% for item in framework %}
                    <tr>
                        <td>{{ item.name }}
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col s3">
                <table class="striped">
                    <tr>
                        <th>Other:</th>
                    </tr>
                    {% for item in other %}
                    <tr>
                        <td>{{ item.name }}
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </section>
{% else %}
    <section class="section-about-content hide-on-med-and-down">
        <div class="row">
            <div class="col m12">
                <h3 class="white-text" id="about-content-title">{{ data.0.name }}</h3>
                <p class="white-text" id="about-content-body">{{ data.0.description }}</p>
            </div>
        </div>
    </section>
{% endif %}


{% if not 'me' in request.path %}
<section class="section-about-list {% if 'skill' in request.path %}hide-on-large-only{% endif %}">
    {% if 'skill' in request.path %}
    <div class="row hide-on-large-only">
        <div class="carousel carousel-slider">
            <div class="carousel-item white-text" href="#one!">
                <ul class="collection with-header">
                    <div class="container">
                        <li class="collection-header">
                            <h5 class="white-text">Soft Skills:</h5>
                        </li>
                        {% for item in soft_skill %}
                        <li class="collection-item">
                            <a class="white-text modal-trigger" href="#about-content-modal" onclick="getModalContent('skill', {{ item.id }})">{{ item.name }}</a>
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="carousel-item white-text" href="#two!">
                <ul class="collection with-header">
                    <div class="container">
                        <li class="collection-header">
                            <h5 class="white-text">Languages:</h5>
                        </li>
                        {% for item in language %}
                        <li class="collection-item">
                            <a class="white-text modal-trigger" href="#about-content-modal" onclick="getModalContent('skill', {{ item.id }})">{{ item.name }}</a>
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="carousel-item white-text" href="#three!">
                <ul class="collection with-header">
                    <div class="container">
                        <li class="collection-header">
                            <h5 class="white-text">Frameworks:</h5>
                        </li>
                        {% for item in framework %}
                        <li class="collection-item">
                            <a class="white-text modal-trigger" href="#about-content-modal" onclick="getModalContent('skill', {{ item.id }})">{{ item.name }}</a>
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="carousel-item white-text" href="#four!">
                <ul class="collection with-header">
                    <div class="container">
                        <li class="collection-header">
                            <h5 class="white-text">Other:</h5>
                        </li>
                        {% for item in other %}
                        <li class="collection-item">
                            <a class="white-text modal-trigger" href="#about-content-modal" onclick="getModalContent('skill', {{ item.id }})">{{ item.name }}</a>
                            <span class="right">
                                {% if item.scale == 1 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 2 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 3 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 4 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% elif item.scale == 5 %}
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                <i class="fas fa-star yellow-text"></i>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row hide-on-large-only">
        <div class="col s12">
            <ul class="collection ">
                {% for item in data %}
                <li class="collection-item">
                    {% if 'experience' in request.path %}
                    <a href="#about-content-modal" class="white-text modal-trigger" onclick="getModalContent( 'experience', {{ item.id }})">{{ item.name }}</a>
                    {% elif 'education' in request.path %}
                    <a href="#about-content-modal" class="white-text modal-trigger" onclick="getModalContent('education', {{ item.id }})">{{ item.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row hide-on-med-and-down">
        <div class="col s12">
            <ul class="collection ">
                {% for item in data %}
                <li class="collection-item">
                    {% if 'experience' in request.path %}
                    <a href="#" class="white-text" onclick="getContent( 'experience', {{ item.id }})">{{ item.name }}</a>
                    {% elif 'education' in request.path %}
                    <a href="#" class="white-text" onclick="getContent('education', {{ item.id }})">{{ item.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if data.has_other_pages %}
    <div class="row pagination-bottom">
        <div class="col s12 center">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li><a href="?page={{ data.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
                {% else %}
                    <li><a class="disabled grey-text text-darken-1"><i class="fas fa-chevron-left"></i></a></li>
                {% endif %}
                {% for i in data.paginator.page_range%}
                    {% if data.number == i %}
                        <li class="active"><a>{{i}}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if data.has_next %}
                    <li><a href="?page={{ data.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
                {% else %}
                    <li><a class="disabled grey-text text-darken-1"><i class="fas fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</section>
{% endif %}

<section class="section-about-buttons hide-on-large-only">
    <div class="row">
        <div class="col m6 s12">
            <div class="row">
                <div class="col s6">
                    <a href="{% url 'about' data_type='me' %}" class="btn grey darken-4 white-text">ME</a>
                </div>
                <div class="col s6">
                    <a href="{% url 'about' data_type='experience' %}" class="btn grey darken-4 white-text">Experience</a>
                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="row">
                <div class="col s6">
                    <a href="{% url 'about' data_type='education' %}" class="btn grey darken-4 white-text">Education</a>
                </div>
                <div class="col s6">
                    <a href="{% url 'about' data_type='skill' %}" class="btn grey darken-4 white-text">Skills</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- AbOUT CONTENT MODAL -->
<div id="about-content-modal" class="modal modal-fixed-footer grey darken-4">
    <div class="modal-content">
        <h4 id="about-modal-title" class="truncate white-text"></h4>
        <p id="about-modal-body" class="white-text"></p>
    </div>
    <div class="modal-footer grey darken-4">
        <a href="#!" class="modal-close white-text"> <i class="fas fa-times fa-3x"></i> </a>
    </div>
</div>


{% endblock %}