html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0 0 50px;
    padding-bottom: 220px;
}

table {
  table-layout:fixed;
}

section {
    margin-top: 10px;
}

table td,
.table td,
.truncate,
.post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel {
    padding: 25px;
}

section .row {
    margin-bottom: 10px;
}

.primary-overlay {
    background: rgba(85, 141, 194, 0.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.post-title {
    padding-bottom: 2px;
}

.card {
    margin-bottom: 10px;
}

.section-index-banner{
    margin-top: unset !important;
    min-height: 350px; 
    background-image: url(../img/athletics-blue-ground-332835.jpg);
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #007bff;
}

.section-index-banner h1 {
    margin-top: 110px;
}

.jumbotron {
    padding: 1rem 1rem !important;
    margin-bottom: 10px !important;
}

.section-learning .jumbotron,
.section-projects .jumbotron {
    min-height: 100% !important;
}

.account-nav-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-about .nav {
    margin-top: 65px;
}

.section-about .about-links li {
    list-style-type: none;
}

.section-about .about-links {
    margin-top: 35px;
}

.section-about .nav a {
    cursor: pointer;
}

.section-account-list .row {
    margin-bottom: 10px;
}

.section-account-list .btn-add {
        width: 145px !important;
}

.profile-img {
    height: 175px;
    height: 175px;
    border-radius: 50% !important;
    border: 2px solid white;
}

.section-posts-list .card .row {
    margin-bottom: unset !important;
}

.footer {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
}

.footer .row {
    padding-top: 15px;
}

.footer-social-links > li {
    list-style: none;
    display: inline-block;
}

.footer-social-links {
    padding: 0;
}

.footer table {
    margin-top: 5px;
    width: 100%;
}

.footer table td{
    padding-right: 15px;
}

.section-project-list .project-img {
    height: 200px;
    overflow: hidden;
}

.section-project-list h4 {
    display: inline;
}
