.table {
  table-layout:fixed;
}

.table td,
.post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-title {
    padding-bottom: 2px;
}

.navbar {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 10px;
}

.jumbotron {
    padding: 1rem 1rem !important;
    margin-bottom: 10px !important;
}

.account-nav-buttons{
    margin-bottom: 10px;
}

.section-about .nav {
    margin-top: 65px;
}

.section-about .about-links li {
    list-style-type: none;
}

.section-about .about-links {
    margin-top: 35px;
}

.section-about .nav a {
    cursor: pointer;
}

.section-account-list .row {
    margin-bottom: 10px;
}

.section-account-list .btn-add {
        width: 145px !important;
}

.profile-img {
    height: 175px;
    height: 175px;
    border-radius: 50% !important;
    border: 2px solid white;
}